<footer class="my-3 pt-3 text-center">
    <div class="container">
        <h2>{{ 'main.footer'|trans }}</h2>
        <p class="mb-1">{{ 'main.footer.text'|trans({'%name%': 'nkorostelev'}) }}</p>
    </div>
</footer>

